<style>
  .signup {
            color: rgb(0, 0, 50);
            background-color: rgb(50, 0, 0);
            border: none;
            height: 50px;
            widgh: 150px;
            border-radius: 25px;
            border-color: rgb(0, 50, 0);
            border-style: solid;
            border-width: 2px;
            cursor: pointer;
            }
        </style>
